<h1 class="mb-1 restaurant-show-title">{{res.name}}</h1>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      <div class="row control-list">
        <button type="button" onclick="location.href='/'" class="btn"><i class="far fa-hand-point-left">
            上一頁</i></button>
        <button type="button" onclick="location.href='/restaurants/{{{res.id}}}/edit'" class="btn"><i
            class="far fa-edit"> 編輯</i></button>
        <form action="/restaurants/{{{res.id}}}/delete?_method=DELETE" method="POST">
          <button type="submit" class="btn"><i class="far fa-trash-alt"> 刪除</i></button>
        </form>
      </div>

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-utensils pr-2"></i>
          類別：
        </span>
        {{res.category}}
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-map-marker-alt pr-2"></i>
          地址：
        </span>
        {{res.location}}
        <a href="https://goo.gl/maps/V9mKwVJ4s5v" class="text-secondary" target="_blank">
          <i class="fas fa-location-arrow pr-2 fa-xs"></i>
        </a>
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-mobile-alt pr-2"></i>
          電話：
        </span>
        {{res.phone}}
      </p>

      <p class="mb-5">
        {{res.description}}
      </p>

      <img class="rounded mx-auto d-block mb-4 w-100" src="/img/{{res.image}}" alt="{{res.name}}"
        style="max-width: 600px;">
    </div>
  </div>
</div>